[Desktop Entry]
Categories={{categories}}
{{#if comment}}
Comment={{comment}}
{{/if}}
Exec=env GDK_BACKEND=wayland,x11 {{exec}} {{exec_arg}}
Icon={{icon}}
Name={{name}}
Terminal=false
Type=Application
StartupWMClass=robrix
{{#if mime_type}}
MimeType={{mime_type}}
{{/if}}
